@font-face {
  font-family: 'IBM VGA 8x16';
  font-weight: normal;
  src: url('/fonts/ibm_vga_8x16.woff2') format('woff2');
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-weight: normal;
  src: url('/fonts/mss.woff2') format('woff2');
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-weight: bold;
  src: url('/fonts/mss-bold.woff2') format('woff2');
}
