@import 'reset.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
  image-rendering: pixelated;
  user-select: none;
  -webkit-font-smoothing: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: https://stylexjs.com/docs/learn/installation/ */
@stylex;
